html:not([class='no-js']) .show-on-scroll {
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 300ms 250ms ease-out,
    transform 600ms 250ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: opacity, transform;
}

html:not([class='no-js']) .is-visible {
  opacity: 1;
  transform: translateY(0);
}
