<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <!-- Preload web fonts -->
  <link rel="preload" href="/assets/fonts/Fraunces[SOFT,WONK,opsz,wght].woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-light text-dark">
  {% include "partials/site-header.njk" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "partials/site-footer.njk" %}
</body>
</html>
