{% extends "layouts/base.njk" %}

{% block content %}
  <div class="intro">
    <div class="[ content ] [ wrapper ]">
      <h1 class="headline">
        <span class="eyebrow">{{ intro.eyebrow | typogrify | safe }}</span>
        <span class="main">{{ intro.main -}}</span>
      </h1>
      <p class="lowbrow">{{ intro.lowbrow }}</p>
      <div class="[ summary ] [ flow ]">{{ intro.summary | md | safe }}</div>
    </div>
    <div class="divider">
      {% icon "chevron-down.svg", "icon-chevron" %}
    </div>
  </div>

  <section id="about" class="[ about] [ wrapper ]">
    <div class="flow">{{ content | safe }}</div>
  </section>

  <section id="projects" class="[ projects ] [ wrapper ]">
    <h2>{{ projects.title }}</h2>
    <p>{{ projects.summary | md | safe }}</p>
    <ul role="list">
    {%- for project in collections.projects %}
      {% set name = project.data.title %}
      {% set description = project.data.description %}
      {% set url = project.url %}
      {% set image = project.data.coverImage %}
      {% include "partials/project-card.njk" %}
    {% endfor %}
    </ul>
  </section>

  {% include "partials/cta.njk" %}
{% endblock %}
