{% extends "layouts/base.njk" %}

{% block content %}
  <div class="intro">
    <div class="[ content ] [ wrapper ]">
      <h1 class="headline">
        <span class="eyebrow">{{ intro.eyebrow }}</span>
        <span class="main">{{ intro.main -}}</span>
      </h1>
      <p class="lowbrow">{{ intro.lowbrow | safe }}</p>
      <div class="[ summary ] [ flow ]">{{ intro.summary | md | safe }}</div>
    </div>
    <div class="divider">
      {% icon "chevron-down", "icon-stroke" %}
    </div>
  </div>

  <div id="about" class="[ about ] [ wrapper region ]">
    <article class="prose">{{ content | safe }}</article>
  </div>

  <section id="projects" class="[ projects ] [ wrapper region flow ]">
    <header class="prose">
      <h2>{{ projects.title }}</h2>
      <p>{{ projects.summary | md | safe }}</p>
    </header>
    <ul role="list" class="[ project-list ] [ flow ]">
    {%- for project in collections.projects %}
      {% include "partials/project-card.njk" %}
    {% endfor %}
    </ul>
  </section>

  {% include "partials/cta.njk" %}
{% endblock %}
