{% extends "layouts/base.njk" %}

{% block content %}
  <article class="[ project ] [ region flow ]">
    <header class="[ project-header ] [ wrapper switcher ]">
      <div class="[ text ] [ flow ]">
        <h1 class="title">{{ title }}</h1>
        <p class="description">{{ description }}</p>
        <div class="[ buttons ] [ cluster ]">
          <a href="{{ demoURL }}" class="button">
            See the live demo
            {% icon "chevron-right", "icon-stroke" %}
          </a>
          <a href="{{ codeURL }}" class="button">
            Inspect the code
            {% icon "chevron-right", "icon-stroke" %}
          </a>
        </div>
      </div>
      <div class="image"><img src="{{ coverImage }}" alt=""></div>
    </header>

    <section class="[ keypoints ] [ switcher wrapper ]">
      <div>
        <h2>Highlights</h2>
        <ul data-type="check">
          {%- for item in highlights %}
            <li><p>{{ item | md | safe }}</p></li>
          {%- endfor %}
        </ul>
      </div>

      <div>
        <h2>Built with</h2>
        <ul>
          {%- for item in builtWith %}
            <li><p>{{ item | md | safe }}</p></li>
          {%- endfor %}
        </ul>
      </div>
    </section>

    <section class="[ content ] [ prose wrapper ]">
      {{ content | safe }}
    </section>
  </article>

  <div data-bg="dark" class="bg-tertiary text-white">
    {% include "partials/cta.njk" %}
  </div>
{% endblock %}
