{% extends "layouts/base.njk" %}

{% block content %}
  <article class="prose">
    <header>
      <h1>{{ title | typogrify | safe }}</h1>
      <p>{{ description }}</p>
      <div>
        <a href="{{ demoURL }}">See the live demo</a>
        <a href="{{ codeURL }}">Inspect the code</a>
      </div>
      <img src="{{ coverImage }}" alt="">
    </header>

    <section>
      <div>
        <h2>Highlights</h2>
        <ul>
          {%- for item in highlights %}
            <li>{{ item | md | safe }}</li>
          {%- endfor %}
        </ul>
      </div>

      <div>
        <h2>Built with</h2>
        <ul>
          {%- for item in builtWith %}
            <li>{{ item | md | safe }}</li>
          {%- endfor %}
        </ul>
      </div>
    </section>

    <section class="flow">
      {{ content | typogrify | safe }}
    </section>
  </article>

  <div data-bg="dark" class="bg-tertiary text-white">
    {% include "partials/cta.njk" %}
  </div>
{% endblock %}
