/* Enforce a measure for all elements, with a few exceptions */
* {
  max-inline-size: var(--measure, 60ch);
}

html,
body,
div,
header,
nav,
main,
footer,
section {
  max-inline-size: none;
}

/* Set global styles */
:root {
  font-family: 'Fraunces', serif;
  font-weight: 320;
  font-variation-settings: 'SOFT' 100;
  font-size: var(--step-0);
}

body {
  letter-spacing: calc(-16 * 0.01 * 1px);
  line-height: 1.4;

  /* Wrapper defaults */
  --gutter: 1.125rem;
}

strong {
  font-weight: 500;
  font-variation-settings: 'SOFT' 50;
}

em {
  font-style: italic;
  font-weight: 450;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
  letter-spacing: calc(-0.664 / 16 * 1em);
}

h3 {
  font-size: var(--step-3);
}

a {
  color: inherit;
  text-decoration-color: var(--color-secondary);
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}
