<header class="[ site-header ] [ wrapper ]">
  <a href="/" class="home" title="Go back to homepage">
    {% include "logo.svg" %}
    <span class="visually-hidden">Home</span>
  </a>

  {%- if '/projects' in page.url %}
    <a href="/#projects">Back to project list</a>
  {% else %}
    <ul role="list">
      {%- for item in navigation %}
        <li><a href="{{ item.url }}" {%- if item.url in page.url %}class="active"{% endif %}>{{ item.name }}</a></li>
      {%- endfor %}
    </ul>
  {%- endif %}
</header>
